.contents {
  margin-left: 550px;
  display: flex;
}
.contents_left > p {
  margin-top: 15px;
  width: 500px;
  word-wrap: break-word;
}
.contents_left > ul {
  margin-top: 15px;
  width: 400px;
  word-wrap: break-word;
}
.contents_left > li {
  padding: 50px;
}
.contents_right > p {
  margin-top: 15px;
  margin-left: 50px;
  width: 500px;
  word-wrap: break-word;
}
.contents_right > a {
  margin-left: 50px;
  margin-top: 50px;
}
.contents_right > span {
  padding: 50px;
}
.contents_left > h1 {
  margin-top: 50px;
  border-bottom: solid #aaa;
  color: #555555;
  font-size: x-large;
  font-weight: bold;
}
.contents_right > h2 {
  margin-left: 50px;
  margin-top: 50px;
  border-bottom: solid #aaa;
  color: #555555;
  font-size: x-large;
  font-weight: bold;
}
