.taskbar {
  margin-left: 550px;
  margin-top: 20px;
  font-weight: 900;
  color: white;
  font-size: 110%;
}
.taskbar > span {
  padding: 0 30px;
  background-color: black;
}
.taskbar > span:hover {
  background-color: blue;
  cursor: pointer;
}
